﻿/*MENU*/
.header_area.navbar_fixed .w_menu .nav-item .nav-link, .h_head, .about_us_subtitle, .h_analytices_features_item .h_analytices_content ul li span, .hosting_title h2 {
    color: #707070;
}
.hosting_menu.menu_four .w_menu > .nav-item.active > .nav-link {
    color: #EE504A;
}
.hosting_service_item p, .hosting_title p, p {
    color: #000 !important;
}
.hosting_service_item:hover {
    border-color: #EE504A;
}
.event_btn {
    padding: 7px 41px;
    background: #EE504A;
    border: 2px solid #EE504A;
}
.simple_solutions_img{
    width:45px;
}
.simple_solutions_event_btn {
    padding: 7px 41px;
    background: transparent;
    color: #707070;
    border: 1px solid #EE504A;
    font-weight: bold;
}
.about_us_event_faqs {
    padding: 7px 70px;
    background: transparent;
    color: #707070;
    border: 1px solid #EE504A;
    font-weight: bold;
}
.is_more_important_us_subtitle {
    padding: 0px 200px;
    color: #707070;
}
.h_analytices_features_item .h_analytices_content ul li:before {
    background: #EE504A;
}
.h_analytices_features_item .h_analytices_content ul {
    border-top: none;
}
.section_estimate_background {
    background: #EE504A;
    height: 45vh;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.event_btn_estimate {
    font-size: 16px;
    padding: 11px 51px;
    border-radius: 45px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}