﻿@model Xipe2020.Models.IndexViewModel

<section class="portfolio_details_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="portfolio_details_info pr_50">
                    <h5 class="f_700 f_p f_size_20 t_color3 mb-30">@Model.Category.Title</h5>
                    <p class="f_400 f_size_15 mb-0">@Html.Raw(Model.Category.Body)</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="portfolio_details_gallery">
                    <img class="img-fluid mb_20" src="@Model.Category.Image.Replace("http://","https://")" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .portfolio_details_info p img {
        max-width: 100%;
        height: auto;
    }
</style>