﻿
@{
    ViewData["Title"] = "ContactUS";
}

<section class="contact_info_area sec_pad bg_color">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">If you want to know more about we will call you</h6>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="contact_form">
                    <form action="/Home/ContactUs" class="contact_form_box" method="post" id="contactForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="name" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" name="companyName" placeholder="Company name">
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                                    <div class="form-group text_box">
                                        <textarea name="message" cols="30" rows="10" placeholder="Enter Your Message . . ."></textarea>
                                    </div>
                                </div>*@
                        </div>
                        <button type="submit" class="btn_three" id="enviar">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@*<script>
    $("#enviar").click(function () {
        if (($('#name').val() == "") || ($('#phone').val() == "") || ($('#message').val() == "") || ($('#email').val() == "")) {
            e.preventDefault();
        }
        Swal.fire({
            icon: 'success',
            title: '¡Gracias por contactarnos!',
            text: 'En breve daremos respuesta a tu mensaje.',
            showConfirmButton: false,
            timer: 5000,
        })
    });
</script>*@
