﻿@model Xipe2020.Models.IndexViewModel
@{
    ViewData["Title"] = "xipetechnology";
}
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="X" class="letters-loading">
                    X
                </span>
                <span data-text-preloader="I" class="letters-loading">
                    I
                </span>
                <span data-text-preloader="P" class="letters-loading">
                    P
                </span>
                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
                <span data-text-preloader="T" class="letters-loading">
                    T
                </span>
                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>
                <span data-text-preloader="H" class="letters-loading">
                    H
                </span>
                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="L" class="letters-loading">
                    L
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>
                <span data-text-preloader="Y" class="letters-loading">
                    Y
                </span>
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="event_banner_area">
    <div class="parallax-effect" style="background: url(img/home-event/banner_bg.jpg);"></div>

</section>

<section class="hosting_service_area sec_pad">
    <div class="container">
        <div class="hosting_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">SIMPLE SOLUTIONS</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img class="simple_solutions_img" src="~/img/Enterprise.png" />
                    </div>
                    <h4 class="h_head">Entrerprise Solutions</h4>
                    <p>Etablish a large scale operation in México.</p>
                    <a class="event_btn btn_hover mt-3 simple_solutions_event_btn" href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img class="simple_solutions_img" src="~/img/Extended-teams.png" />
                    </div>
                    <h4 class="h_head">Extended Teams</h4>
                    <p>Hire a team of experts in any technology.</p>
                    <a class="event_btn btn_hover mt-3 simple_solutions_event_btn" href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img class="simple_solutions_img" src="~/img/Artificial-Intelligence.png" />
                    </div>
                    <h4 class="h_head">AI and Machine Learning</h4>
                    <p>Feel the power of cutting edge technology.</p>
                    <a class="event_btn btn_hover mt-3 simple_solutions_event_btn" href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img class="simple_solutions_img" src="~/img/Clubman.png" />
                    </div>
                    <h4 class="h_head">Clubman</h4>
                    <p>Take care of your members with our ready-to-install-platform.</p>
                    <a class="event_btn btn_hover mt-3 simple_solutions_event_btn" href="#">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="event_about_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img class="img-fluid" src="~/img/Desing-it-simple.png" />
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="hosting_title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">About us</h2>
                    <h5 class="wow fadeInUp about_us_subtitle" data-wow-delay="0.3s">Xipe Is a team out of this world</h5>
                    <p class="mt-5">We started two years ago as a British company with Mexican talent. Now we are a half-global company collaborating with people in Argentina, Uruguay, Canada, The United States, and The United Kingdom.
                    <p class="mt-5">We believe that diversity in a team, the software built by heterogenic teams has 30% better adoption by the market than products developed by more homogenous teams. That's why we always bring together people with different backgrounds, but with the same values.</p>
                    <a class="event_btn btn_hover mt-3 mr-4" href="#">LEARN MORE</a>
                    <a class="event_btn btn_hover mt-5 about_us_event_faqs" href="#">FAQS</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="event_about_area">
    <div class="container">
        <div class="row">
            <div class="hosting_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">The "Who" is more important than the "What"</h2>
                <h5 class="wow fadeInUp is_more_important_us_subtitle" data-wow-delay="0.3s">We will build your dream team with great engineers and designers according to your tech stack and industry experience specifications.</h5>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="img-fluid" src="~/img/Team-software.png" />
                <h4 class="h_head">Team</h4>
                <p>A team must be radically open-minded and radically transparent.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="img-fluid" src="~/img/Organization-software.png" />
                <h4 class="h_head">Organization</h4>
                <p>An organization is a machine consisting of two major parts: culture and people.</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="img-fluid" src="~/img/Principles-software.png" />
                <h4 class="h_head">Principles</h4>
                <p>Simplicity, transparency, creativity and Quality.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="event_btn btn_hover mt-5" href="#">TEAM BUILDING</a>
            </div>
        </div>
    </div>
</section>

<section class="event_about_area">
    <div class="container">
        <div class="row">
            <div class="hosting_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">Approaching software development differently</h2>
                <h5 class="wow fadeInUp is_more_important_us_subtitle" data-wow-delay="0.3s">Discover a new way to collaborate based on priciples and mutual growth.</h5>
            </div>
        </div>
        <div class="row h_analytices_features_item align-items-center">
            <div class="col-lg-6">
                <div class="h_security_img text-center">
                    <img class="wow fadeInUp" src="img/home-security/about_img_1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h_analytices_content">
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp" data-wow-delay="0.5s"><span>Full transparency</span><br /> <p>Forget about centralized communication or shady reports. You will always have access to the tracking tools, the code, and the development stage.</p></li>
                        <li class="wow fadeInUp" data-wow-delay="0.7s"><span>Straightforward costs </span><br /><p> Stop counting hours like a gendarme. Our weekly flat rate model will give you certainty about the investment and will make your accounter happy.</p></li>
                        <li class="wow fadeInUp" data-wow-delay="0.9s"><span>Accountability on each team member</span><br /><p> We find adults, responsible people who love what they do.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row h_analytices_features_item flex-row-reverse align-items-center">
            <div class="col-lg-6">
                <div class="h_security_img text-center">
                    <img class="wow fadeInUp" src="img/home-security/about_img_2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h_analytices_content">
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp" data-wow-delay="0.5s"><span>Hassle-free experience</span><br /> <p>Our host team works hard to take the management burden away from the development process.</p></li>
                        <li class="wow fadeInUp" data-wow-delay="0.7s"><span>The best turnover rate </span><br /><p>Say goodbye to the high turnover rates on your team. We invest in long term relationships.</p></li>
                        <li class="wow fadeInUp" data-wow-delay="0.9s"><span>No bureaucracy</span><br /><p>Forget about contract reviews each time you have a new idea or requirement.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="event_btn btn_hover mt-5" href="#">OUR ENGAGEMNET MODEL</a>
            </div>
        </div>
    </div>
</section>

<section class="portfolio_area sec_pad bg_color">
    <div class="container">
        <div class="row portfolio_gallery mb_30" id="work-portfolio">
            @if (Model.News.Count > 0)
            {
                foreach (var item in Model.News)
                {
                    <div class="col-lg-4 col-sm-6 portfolio_item br ux mb-30">
                        <div class="portfolio_img">
                            <a href="@item.Image.Replace("http://" , "https://")" class="img_popup"><img class="img_rounded" src="@item.Image.Replace("http://" , "https://")" alt="Articulos" /></a>
                            <a href="/Home/ArticleDetail/@item.Permalink">
                                <div class="hover_content h_content_two">
                                    <div class="portfolio-description leaf">
                                        <h3 class="f_500 f_size_16 f_p">@item.Title</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


<section class="event_about_area">
    <div class="container-fluid section_estimate_background text-center flex-centered">
        <div>
            <h2 class="wow fadeInUp text-white" data-wow-delay="0.3s">ESTIMATE YOUR PROJECT</h2>
            <h5 class="wow fadeInUp text-white">Do you need to know how much your project costs?</h5>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="event_btn_estimate btn_hover mt-5" href="#">ESTIMATE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
