﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Xipe2020</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @* STYLE TEMPLETE SAAS *@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/themify-icon/themify-icons.css" rel="stylesheet" />
    <link href="~/css/simple-line-icon/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/css/animation/animate.css" rel="stylesheet" />
    <link href="~/css/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/magnify-pop/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/elagent/style.css" rel="stylesheet" />
    <link href="~/css/scroll/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />

    @*STYLES DEL SITIO *@
    <link href="~/css/xipe.css?v=0.0.1"rel="stylesheet" />

</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Xipe2020</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="body_wrapper">
        <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one menu_four hosting_menu">
                <div class="container">
                    <a class="navbar-brand sticky_logo" href="#"><img src="img/logo2.png" srcset="img/logo2x-2.png 2x" alt="logo"><img src="img/logo.png" srcset="img/logo2x.png 2x" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu m-auto">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Solutions
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Careers
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Trends
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cases studies
                                </a>
                            </li>
                        </ul>
                        <a class="event_btn btn_hover" href="/Home/ContactUs">Contact Us</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    @*<div class="container">*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    @*</div>*@

    <footer class="footer_area h_footer_dark event_footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget dark_widget company_widget">
                        <a href="index.html" class="f-logo"><img src="img/logo2.png" alt=""></a>
                        <p>© 2019 SaasLand, LLC. All rights reserved. Proudly made in NY</p>
                        <div class="f_social_icon">
                            <a href="#" class="ti-facebook"></a>
                            <a href="#" class="ti-twitter-alt"></a>
                            <a href="#" class="ti-vimeo-alt"></a>
                            <a href="#" class="ti-pinterest"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget dark_widget about-widget">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Android App</a></li>
                            <li><a href="#">ios App</a></li>
                            <li><a href="#">Desktop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget about-widget pl_40">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Term & conditions</a></li>
                            <li><a href="#">Reporting</a></li>
                            <li><a href="#">Block Storage</a></li>
                            <li><a href="#">Tools & Integrations</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget dark_widget instagram_widget">
                        <h3 class="f-title f_500 t_color f_size_18 mb_40">Instagram</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><img src="img/home-event/instragram1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/home-event/instragram2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/home-event/instragram3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/home-event/instragram4.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/home-event/instragram5.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/home-event/instragram6.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Xipe Technology - &copy; Copyright 2020. All rights reserved.</p>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/propper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @* JS TEMPLETE SAAS *@
    <script src="~/js/wow/wow.min.js"></script>
    <script src="~/js/sckroller/jquery.parallax-scroll.js"></script>
    <script src="~/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope/isotope-min.js"></script>
    <script src="~/js/magnify-pop/jquery.magnific-popup.min.js"></script>

    <script src="~/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/js/counterup/jquery.waypoints.min.js"></script>
    <script src="~/js/counterup/appear.js"></script>

    <script src="~/js/circle-progress/circle-progress.js"></script>
    <script src="~/js/stellar/jquery.stellar.js"></script>
    <script src="~/js/scroll/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/js/red-countdown/knob.js"></script>
    <script src="~/js/red-countdown/throttle.js"></script>
    <script src="~/js/red-countdown/moment.js"></script>
    <script src="~/js/red-countdown/redcountdown.js"></script>
    <script src="~/js/red-countdown/red-countdown-settings.js"></script>

    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
